/* CSS file styling the FAQ page */

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002902;
    padding: 4% 8% 6% 8%;
}

#post {
    background-color: #e5f7bff9;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    margin-bottom: 1%;
    padding: 0.7%;
}

#author {
    font-size: 70%;
    color: #002902a1;
}

#addComment {
    display: flex;
    flex-wrap: wrap;
}

#addName {
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 1%;
    padding: 1%;
    width: 14%;
}

#comment {
    resize: vertical;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 1%;
    padding: 1%;
    width: 69%;
}

#sendComment {
    width: 10%;
    padding: 0.5% 0%;
    cursor: pointer;
}

@media (max-width: 850px) {
    #sendComment {
        width: 9.5%;
    }
}


@media (max-width: 680px) {
    #addName {
        width: 100%;
        margin-right: -0.2%;
        margin-bottom: 1%;
    }
    
    #comment {
        width: 100%;
        margin-right: -0.2%;
        margin-bottom: 1%;
    }

    #sendComment {
        width: 20%;
    }
}
