/* CSS file styling the main page */

/* CSS block for desktop */
@media (min-width: 700px) {

    /* layout for desktop */
    #container {
        grid-template-areas: 
            "welcome quote"
            "pictures pictures"
            "findInsTitle inspireTitle"
            "findIns inspire"
            "articles articles";
        grid-template-columns: 50% 50%;
        padding: 4%;
    }

    #recipePictures {
        width: 200%;
    }

    #recipePictures img {
        width: 13%;
    }    

    #articlesPic img {
        width: 23%;
    }
}

/* CSS block for tablets and mobiles */
@media (max-width: 700px) {
    
    /* layout for tablets and mobiles */
    #container {
        grid-template-areas: 
            "welcome"
            "pictures"
            "quote"
            "findInsTitle"
            "findIns"
            "inspireTitle"
            "inspire"
            "articles";
        grid-template-columns: 100%;
        padding: 4%;
    }

    #recipePictures {
        width: 100%;
    }

    /* hiding first and last picture because there is not enough space for 7 pictures in a row */
    #pic1, #pic7 {
        display: none;
    }

    #recipePictures img {
        width: 18%;
    }

    #articlesPic img {
        width: 48%;
    }
}

#container {
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002902;
}

#welcome {
    grid-area: welcome;
    align-content: flex-start;
}

#logo-picture {
    width: 20%;
}

#quote {
    grid-area: quote;
    justify-self: flex-end;
    align-self: center;
}

#pictures {
    grid-area: pictures;
}

#recipePictures {
    display: flex;
    justify-content: space-between;
}

#findInspirationTit {
    grid-area: findInsTitle;
}

#findInspiration {
    grid-area: findIns;
    margin-top: -1%
}

#inspireOthersTit {
    grid-area: inspireTitle;
    justify-self: flex-end;
}

#inspireOthers {
    grid-area: inspire;
    justify-self: right;
    margin-top: -1%;
}

#articles {
    grid-area: articles;
}

#articlesPic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    font-size: 110%;
}