/* CSS file styling the recipes page */

#container {
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002902;
    padding: 4%;

    grid-template-areas: "buttons buttons"
                         "recipes filter"
                         "form form";
    grid-template-columns: 75% 25%;
}

#form {
    grid-area: form;
}

#buttons {
    grid-area: buttons;
}

#recipes {
    grid-area: recipes;
    width: 95%;
}

#recipes h1 {
    cursor: pointer;
}

#filter {
    grid-area: filter;
}

#filtering {
    background-color: #00290236;
    border-color: #002902c5;
    border-radius: 7px;
    border-style: solid;
    border-width: thin;
    padding-left: 7%;
    padding-bottom: 10%;
    padding-top: 0.1%;
}

#breakfast, #soup, #dish, #snack, #drinks {
    width: 17.5%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 65%;
    border: none;
    font-weight: bold;
    box-shadow: 0px 2px 4px #0b4f056f;
    text-shadow: 0px 2px 4px #0b4f056f;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

#breakfast {
    background-image: url(../Pictures/breakfast.jpg);
}

#soup {
    background-image: url(../Pictures/soup.jpg);
}

#dish {
    background-image: url(../Pictures/dish.jpg);
}

#snack {
    background-image: url(../Pictures/snack.jpg);
}

#drinks {
    background-image: url(../Pictures/drinks.jpg);
}

#recipeItems {
    display: flex;
    flex-wrap: wrap;
}

#recipeItem {
    background-image: url(../Pictures/paper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1% 3%;
    margin-right: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    cursor: pointer;
}

#recipeItem h4 {
    margin: 5% 0%;
}

#recipeItem p {
    margin: 4% 0%;
}

#recipeItem img {
    width: 100%;
}

#showRecipe img {
    width: 100%;
}

#showRecipe button {
    background-color: #e5f7bff9;
    border-width: thin;
    border-radius: 3px;
    padding: 0.5% 1%;
    cursor: pointer;
}

@media (max-width: 670px) {
    #buttons {
        display: flex;
        flex-wrap: wrap;
        margin-right: 5%;
    }

    #breakfast, #soup, #dish, #snack, #drinks {
        width: 90%;
        height: 17%;
        margin-top: 3%;
    }

    #recipeItem {
        width: 42%;
    }

    #container {
        grid-template-areas: "buttons filter"
                             "recipes recipes"
                             "form form";
        grid-template-columns: 55% 45%;
    }

    #recipes {
        width: 100%;
    }
}

@media (min-width: 670px) {
    #recipeItem {
        width: 41%;
    }
}

@media (min-width: 900px) {
    #recipeItem {
        width: 25%;
    }
}