<!DOCTYPE html>

<html lang="en"> 
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>InspiRecipes</title>
        <link rel="stylesheet" href="../css/Styles.css">
        <link rel="stylesheet" href="../css/Faq.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="app">

            <!-- Top navigation menu -->
            <div id="menu">

                <!-- InspiRecipes logo -->
                <a id="logo" href="index.html"><img id="logo-img" src="../Pictures/InspiRecipes.png" /></a>

                <!-- Navigation buttons -->
                <ul id="nav">
                    <li id="firstLi"><a href="index.html">MAIN PAGE</a></li>
                    <li><a href="Recipes.html">RECIPES</a></li>
                    <li><a href="FAQ.html">FAQ</a></li>
                    <li><a href="Contact.html">CONTACT</a></li>
                </ul>

                <!-- Search bar with search button -->
                <div class="input" id="search-input">
                    <input type="search" class="form-control" id="searchbar"
                            placeholder="Search">

                    <img id="button-picture" src="../Pictures/SearchI.png" alt="search" onclick=""/>
                </div>

                <!-- Buton for uploading recipes -->
                <button id="upload" onclick="window.location.href='Recipes.html';">UPLOAD YOUR RECIPE</button>

                <!-- Avocado picture -->
                <img id="avocado" src="../Pictures/avocado.png">
            </div>
        </div>

        <!-- FAQ page content -->
        <div id="container">

            <!-- Heading -->
            <h1>Forum</h1>
            
            <!-- Forum section with topics -->
            <div id="topics" v-for="topic in posts" :key="topic.topicId">
                
                <!-- Topic heading -->
                <h3>{{ topic.topic }}</h4>
                
                <!-- Posts in each topic -->
                <div id="posts" v-for="post in topic.messages" :key="post.id">
                    <div id="post">
                        <div id="author">{{ post.name }}</div>
                        <div id="message">{{ post.message }}</div>                        
                    </div>
                </div>
                
                <!-- Section for adding a comment to a particular topic -->
                <div id="addComment">
                    <input id="addName" placeholder="Fill your name" v-model="topic.newName"></input>
                    <textarea id="comment" placeholder="Write your comment" v-model="topic.newMessage"></textarea>
                    <button id="sendComment" v-on:click="addComment(topic.topicId)">Send</button>
                </div>

            </div>
        
        </div>

        <script src="../vue/faq.vue"></script>

    </body>

</html>