<!DOCTYPE html>

<html lang="en"> 
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>InspiRecipes</title>
        <link rel="stylesheet" href="../css/Styles.css">
        <link rel="stylesheet" href="../css/Recipes.css">
        <link rel="stylesheet" href="../css/Upload.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="app">

             <!-- Top navigation menu -->
             <div id="menu">

                <!-- InspiRecipes logo -->
                <a id="logo" href="index.html"><img id="logo-img" src="../Pictures/InspiRecipes.png" /></a>

                <!-- Navigation buttons -->
                <ul id="nav">
                    <li id="firstLi"><a href="index.html">MAIN PAGE</a></li>
                    <li><a href="Recipes.html">RECIPES</a></li>
                    <li><a href="FAQ.html">FAQ</a></li>
                    <li><a href="Contact.html">CONTACT</a></li>
                </ul>

                <!-- Search bar with search button -->
                <div class="input" id="search-input">
                    <input type="search" class="form-control" id="searchbar"
                            placeholder="Search">

                    <img id="button-picture" src="../Pictures/SearchI.png" alt="search" onclick=""/>
                </div>

                <!-- Buton for uploading recipes -->
                <button id="upload" v-on:click="show = -1">UPLOAD YOUR RECIPE</button>

                <!-- Avocado picture -->
                <img id="avocado" src="../Pictures/avocado.png">
            </div>

            <!-- Recipes page content -->
            <div id="container">
                
                <!-- Buttons filtering the recipe types -->
                <div id="buttons" v-show="show == 0">
                    <button id="breakfast" v-on:click="searchValue = 'Breakfast'"><h2>Breakfast</h2></button>
                    <button id="soup" v-on:click="searchValue = 'Soup'"><h2>Soup</h2></button>
                    <button id="dish" v-on:click="searchValue = 'Main dish'"><h2>Main dish</h2></button>
                    <button id="snack" v-on:click="searchValue = 'Snack'"><h2>Snack</h2></button>
                    <button id="drinks" v-on:click="searchValue = 'Drinks'"><h2>Drinks</h2></button>
                </div>

                <!-- Section with all the recipes -->
                <div id="recipes" v-show="show == 0">
                    <h1 v-on:click="searchValue = 'all'">Recipes</h1>
                    <div id="recipeItems">
                        <div id="recipeItem" v-for="recipe in filteredRecipes()" :key="recipe.id" v-on:click="show = recipe.id" >
                            <h4>{{ recipe.name }}</h4>
                            <p>{{ recipe.type }}</p>
                            <img v-bind:src="recipe.image">
                            <p>{{ recipe.time }} minutes</p>
                        </div>
                    </div>
                </div>

                <!-- Filter section -->
                <div id="filter" v-show="show == 0">
                    
                    <h1>Filter</h1>
                    
                    <div id="filtering">
                        
                        <!-- Cooking time filter -->
                        <h3>Cooking time:</h3>
                        <div v-for="time in times" :key="time.title" >
                            <input type="checkbox" v-model="time.checked" v-on:change="changeMaxTime" />
                            {{ time.title }}
                        </div>
                        
                        <!-- Ingredients filter -->
                        <h3>Ingredients:</h3>
                        <div v-for="ingredient in ingredients" :key="ingredient.title" >
                            <input type="checkbox" v-model="ingredient.checked" v-on:change="addFilteredIngredient" />
                            {{ ingredient.title }}
                        </div>
                    </div>
                </div>
                
                <!-- Section for showing the recipe detail after clicking on a recipe -->
                <div id="showRecipe" v-if="show > 0" v-show="show > 0">
                    
                    <!-- Back to main page button -->
                    <button v-on:click="show = 0">← Back to main page</button>
                    
                    <!-- Recipe name -->
                    <h2>{{ recipes[show - 1].name }}</h2>
                    
                    <!-- Recipe type -->
                    <p>{{ recipes[show - 1].type }}</p>
                    
                    <!-- Recipe image -->
                    <img v-bind:src="recipes[show - 1].image">
                    
                    <!-- Recipe cooking time -->
                    <p>Cooking time: {{ recipes[show - 1].time }}</p>
                    
                    <!-- Recipe ingredients -->
                    <h3>Ingredients:</h3>
                    <div v-for="ingredient in recipes[show - 1].ingredients" :key="ingredient" >
                        <p>{{ ingredient }}</p>
                    </div>
                    
                    <!-- Recipe text -->
                    <h3>Recipe:</h3>
                    <p>{{ recipes[show - 1].recipe }}</p>
                </div>

                <!-- Section for showing the upload recipe form after clicking the upload recipe button -->
                <div id="form" v-show="show == -1">

                    <!-- Heading -->
                    <h1 id="heading">Upload your recipe</h1>
                    
                    <!-- Recipe name form -->
                    <div id="name">
                        <h3>Recipe name:</h3>
                        <input class="form-control" id="nameInput" v-model="newRecipe.name" />
                    </div>
                    
                    <!-- Recipe type form -->
                    <div id="type">
                        <h3>Recipe type:</h3>

                        <input type="radio" id="breakfast-type" value="Breakfast" v-model="newRecipe.type" />
                        <label for="breakfast-type">Breakfast</label>
        
                        <input type="radio" id="soup-type" value="Soup" v-model="newRecipe.type" />
                        <label for="soup-type">Soup</label>
        
                        <input type="radio" id="dish-type" value="Main dish" v-model="newRecipe.type" />
                        <label for="dish-type">Main dish</label>
        
                        <input type="radio" id="snack-type" value="Snack" v-model="newRecipe.type" />
                        <label for="snack-type">Snack</label>
        
                        <input type="radio" id="drinks-type" value="Drinks" v-model="newRecipe.type" />
                        <label for="drinks-type">Drinks</label>
                    </div>
                    
                    <!-- Recipe time form -->
                    <div id="time">
                        <h3>Cooking time:</h3>
                        <input class="form-control" id="timeInput" v-model="newRecipe.time">
                    </div>
        
                    <!-- Recipe ingredients form -->
                    <div id="ingredients">
                        <h3>Ingredients:</h3>
                        <p>More ingredients divide by ',' <br> Example: rice,milk,apple</p>
                        <input class="form-control" id="ingredientsInput" v-model="newRecipe.ingredients">
                    </div>
        
                    <!-- Recipe text form -->
                    <div id="recipe">
                        <h3>Recipe:</h3>
                        <textarea class="form-control" id="recipeInput" v-model="newRecipe.recipe"></textarea>
                    </div>
        
                    <!-- Uploading recipe photo -->
                    <div id="photos">
                        <h3>Upload your photo:</h3>
                        <input ref="fileInput" type="file" @input="loadImage">
                    </div>
                    
                    <!-- Upload recipe button -->
                    <div id="uploadRecipe">
                        <button id="uploadButton" v-on:click="addRecipe">Upload</button>
                    </div>
                </div>
            </div>          
        </div>

        <script src="../vue/recipes.vue"></script>

    </body>

</html>